In [77]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine, Integer, String, Float, MetaData

In [78]:
# Ouverture du CSV
df = pd.read_csv("data/ecommerce.csv")

In [79]:
# Observation des colonnes disponibles
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1000)
df

            Date         ProductName  ProductCategory ProductSubCategory ProductPrice     CustomerName                   CustomerEmail                                CustomerAddress           CustomerPhone CustomerSegment                  SupplierName SupplierLocation        SupplierContact ShipperName ShippingMethod  QuantitySold  TotalAmount  DiscountAmount  NetAmount  StockReceived  StockSold  StockOnHand
0     2023-09-14           Nathaniel      Electronics             Camera         0.01    Colleen Kelly           maryhurst@example.org  354 Mcdowell Turnpike, Port Charles, CT 95318       908.610.2711x8507          Silver  Rodriguez, Winters and Perez       Irwinhaven             6538306661    and Sons         Ground            49     31965.15          121.07   31844.08            475        127          348
1     2023-02-11  NonExistentProduct      Electronics             Mobile       847.43      Joel Wright     sandersvictoria@example.org       24740 Fox Villages, New Tracie, MA 53038     +1-408-938-0389x952            Gold                Lawson-Wilkins  Calderonchester                    NaN         PLC            Air            73     61862.39           91.09   61771.30            487        243          244
2     2021-11-12              Angela  InvalidCategory     Action Figures       386.57    Thomas Sawyer             ospence@example.net            769 Joe Trail, East Terri, CA 43813  001-929-516-1919x39288            Gold                    Lee-Miller  South Emilyview        +1-588-750-7646         PLC            Sea            89     34404.73           10.56   34394.17            341        188          153
3     11-15-2021                 Amy    Home & Garden              Decor       364.01    Tyler Gardner  christopherjohnson@example.com  27783 Olivia Centers, Williamsmouth, AL 09809              8907712983            Gold                   Soto-Rivera      West Denise      805-650-6257x5876         LLC            Air             3      1092.03           69.06    1022.97            500        124          376
4     2023-04-22           Nathaniel      Electronics             Camera       652.35  Meagan Peterson             epowell@example.net    25357 Blackwell Locks, Andreabury, MH 27857              9999921886            Gold  Rodriguez, Winters and Perez       Irwinhaven             6538306661         Ltd            Sea            75     48926.25          137.17   48789.08            429        351           78
...          ...                 ...              ...                ...          ...              ...                             ...                                            ...                     ...             ...                           ...              ...                    ...         ...            ...           ...          ...             ...        ...            ...        ...          ...
5005  2023-08-24              Angela             Toys     Action Figures       386.57    Bradley Smith         garciashawn@example.com               Unit 6079 Box 2184, DPO AP 21061     (449)651-5198x65597            Gold                Roman-Chambers    Dennischester  001-324-909-1637x2831         LLC         Ground            87     33631.59           88.77   33542.82            401        359           42
5006  2023-08-24              Angela             Toys     Action Figures       386.57    Bradley Smith         garciashawn@example.com               Unit 6079 Box 2184, DPO AP 21061     (449)651-5198x65597            Gold                Roman-Chambers    Dennischester  001-324-909-1637x2831         LLC         Ground            87     33631.59           88.77   33542.82            401        359           42
5007  2023-08-24              Angela             Toys     Action Figures       386.57    Bradley Smith         garciashawn@example.com               Unit 6079 Box 2184, DPO AP 21061     (449)651-5198x65597            Gold                Roman-Chambers    Dennischester  001-324-909-1637x2831         LLC         Ground            87     33631.59           88.77   33542.82            401        359           42
5008  2023-08-24              Angela             Toys     Action Figures       386.57    Bradley Smith         garciashawn@example.com               Unit 6079 Box 2184, DPO AP 21061     (449)651-5198x65597            Gold                Roman-Chambers    Dennischester  001-324-909-1637x2831         LLC         Ground            87     33631.59           88.77   33542.82            401        359           42
5009  2023-08-24              Angela             Toys     Action Figures       386.57    Bradley Smith         garciashawn@example.com               Unit 6079 Box 2184, DPO AP 21061     (449)651-5198x65597            Gold                Roman-Chambers    Dennischester  001-324-909-1637x2831         LLC         Ground            87     33631.59           88.77   33542.82            401        359           42

[5010 rows x 22 columns]

In [80]:
df['ShipperCode'] = df['ShipperName'] + df['ShippingMethod']
df['ProductCode'] = df['ProductName'] + df['ProductCategory'] + df['ProductSubCategory']

# Création des ID
def create_id(columns_name, columns_factoriz, df):
    df[columns_name] = pd.factorize(df[columns_factoriz])[0]+1
    
create_id("ProductID", "ProductCode", df)
create_id("SupplierID", "SupplierName", df)
create_id("ShipperID", "ShipperCode", df)
create_id("CustomerID", "CustomerName", df)
create_id("DateID", "Date", df)

In [81]:
# Créationd d'un ID unqiue par vente et stock
df['id'] = range(1, len(df) + 1)

In [82]:
# Création des tables de faits et de dimensions
fact_sales = df[['id' , 'QuantitySold', 'TotalAmount', 'DiscountAmount', 'NetAmount', 'ShipperID', 'SupplierID', 'ProductID', 'CustomerID', 'DateID']].drop_duplicates()
fact_stock = df[['id', 'StockReceived', 'StockSold', 'StockOnHand', 'ProductID', 'DateID']].drop_duplicates()
dim_supplier = df[["SupplierID", 'SupplierName', 'SupplierLocation', 'SupplierContact']].drop_duplicates()
dim_shipper = df[["ShipperID", 'ShipperName', 'ShippingMethod']].drop_duplicates()
dim_product = df[["ProductID", 'ProductName', 'ProductCategory', 'ProductSubCategory', 'ProductPrice']].drop_duplicates()
dim_customer = df[["CustomerID", 'CustomerName', 'CustomerEmail', 'CustomerAddress', 'CustomerPhone', 'CustomerSegment', 'Date']].drop_duplicates()
dim_date = df[["DateID",'Date']].drop_duplicates()

In [83]:
dim_supplier = dim_supplier.dropna()

In [84]:
# Supprimer les lignes où la colonne 'Amount' contient des valeurs non numériques
dim_product = dim_product[pd.to_numeric(dim_product['ProductPrice'], errors='coerce').notna()]
# Convertir la colonne 'ProductPrice' en numérique (float)
dim_product['ProductPrice'] = pd.to_numeric(dim_product['ProductPrice'], errors='coerce')
# Filtrer les valeurs aberrantes 
dim_product_cleaned = dim_product[(dim_product['ProductPrice'] <= 10000) & (dim_product['ProductPrice'] != 0.01)]
# Supprimer les ID communs
dim_product_cleaned = dim_product_cleaned.drop_duplicates(subset=['ProductID'])
dim_product = dim_product_cleaned

In [85]:
# Suivi 
# fact_sales : OK
# fact_stock : OK
# dim_supplier : OK
# dim_shipper : OK
# dim_product :OK
# dim_customer : OK
# dim_date : OK

In [86]:
for i in dim_customer['Date'].unique():
    print(i)
    
print(len(dim_customer['Date'].unique()))

2023-09-14
2023-02-11
2021-11-12
11-15-2021
2023-04-22
2022-12-08
2023-09-13
2023-07-19
2023-08-20
2023-07-15
09-25-2023
2022-05-06
2023-09-19
2022-10-19
2022-08-30
2023-01-25
2022-11-02
2023-07-29
2022-02-09
2023-04-25
2022-10-06
2023-09-20
2023-05-17
2022-04-19
2022-03-11
2023-03-15
2022-07-20
2023-07-03
2023-04-05
2022-01-12
2022-01-22
2022-11-22
2022-03-25
2022-10-04
10-27-2021
2023-01-28
2022-01-13
2022-04-10
12-10-2021
2021-11-20
2022-02-16
2022-12-07
2022-11-09
2022-03-08
2023-06-10
2022-12-04
2022-12-13
2022-07-17
2022-10-31
2022-03-28
2022-11-05
2023-01-19
2021-11-18
05-03-2023
12-11-2022
2023-01-13
05-16-2023
2023-09-12
2023-03-29
2023-06-04
2022-01-28
2023-03-21
05-08-2023
2023-06-11
2023-06-01
2021-12-22
01-14-2023
2021-11-17
2022-07-21
2022-07-05
2022-05-13
2023-08-09
2022-06-30
2023-06-20
2023-03-10
2023-05-12
2022-01-05
2023-07-02
2023-02-16
2022-08-27
2023-09-09
2023-01-30
2023-06-26
2022-10-17
2022-10-07
2023-08-04
2023-06-19
09-15-2022
2023-03-01
2023-05-14
03-29-2023
2023-09-25
10-12-2022
2023-01-18
2022-12-30
2022-07-22
2022-07-02
2023-03-22
2022-08-22
2021-10-18
2022-06-23
2023-03-28
2022-12-21
2022-08-28
03-01-2022
2021-10-31
2022-12-31
06-02-2022
2023-03-26
2021-10-10
2023-02-17
2022-09-07
2022-03-18
12-08-2021
2022-07-19
2023-09-16
2023-06-12
2023-07-09
2022-07-09
2023-05-21
09-12-2022
03-24-2022
09-26-2023
2021-11-09
2021-12-15
2022-11-14
2022-07-28
2022-04-18
2022-03-02
2023-06-23
2023-05-05
2022-03-24
2022-04-09
2022-06-14
2022-01-14
2022-09-29
2023-06-28
2023-06-18
2022-04-11
02-21-2023
2022-04-22
2023-05-01
2023-02-05
09-06-2023
2022-05-03
2023-01-29
2023-03-16
2021-12-10
2022-10-24
2022-02-03
2021-12-24
2021-11-07
03-02-2023
2021-11-19
2023-07-01
2022-01-21
2022-04-04
2022-05-04
2023-04-07
2022-10-08
2022-03-29
2022-11-04
2022-01-07
2023-04-13
2023-02-14
2021-12-11
2023-06-09
10-30-2021
2023-01-31
2021-11-11
01-26-2023
10-06-2022
2021-10-15
2023-02-21
2022-12-10
2021-11-28
2022-01-25
2022-10-23
2022-10-27
2022-12-02
2023-09-02
2023-02-22
2023-02-24
2022-11-28
2023-04-01
06-13-2022
2022-12-06
2023-09-23
2023-09-22
2023-08-21
2023-02-19
2023-02-10
2022-09-27
2022-11-01
2022-09-18
2022-11-10
11-13-2022
2022-05-20
2022-11-06
09-29-2021
2022-03-20
2022-04-03
2023-08-05
11-24-2021
2022-06-09
2023-02-07
2022-08-04
09-08-2022
2021-11-01
2022-04-08
2021-11-26
2022-09-25
2023-07-26
04-04-2023
2021-10-22
2023-08-23
2022-06-20
2022-01-15
2022-11-08
2023-06-08
2022-05-11
2022-12-16
2023-05-06
2022-08-14
2022-07-30
2022-07-16
04-09-2023
2021-10-09
04-26-2022
2021-09-29
06-08-2023
2023-04-15
2021-10-29
2022-06-07
2022-10-03
2022-11-15
2023-02-15
2021-11-13
2022-05-23
2022-11-18
2022-05-14
2023-04-04
10-24-2021
2023-03-04
2021-12-08
2023-07-11
2023-05-29
2022-07-01
2022-10-22
2022-02-17
2022-09-05
2022-05-16
2023-09-08
2023-08-10
2022-11-27
2022-01-23
2022-02-19
2023-08-01
2023-02-23
2022-05-18
2023-01-05
2022-09-04
2022-08-13
2023-04-27
2023-02-09
01-07-2023
2023-01-20
2022-06-03
2022-03-13
2022-06-28
2022-08-10
02-23-2023
2021-12-05
2023-07-16
2022-10-10
2022-08-29
2021-10-25
2023-08-06
2022-03-14
05-10-2023
2023-03-05
2022-07-14
2022-12-01
2022-12-22
2022-08-18
04-03-2023
2022-07-25
2021-10-07
2023-05-27
2021-10-30
2022-01-18
2022-09-16
2022-02-01
2022-08-24
2022-07-23
2022-03-16
2022-01-26
2022-12-19
2023-04-03
2023-04-21
2023-07-08
2022-02-07
2022-02-28
03-05-2022
2022-06-15
2021-12-25
2022-04-07
2023-08-19
2023-06-17
2023-06-05
2021-11-29
2022-12-12
2022-07-08
2022-04-27
2023-04-24
2023-08-31
02-16-2023
2021-10-14
12-03-2021
2023-09-10
2023-01-23
05-09-2022
07-05-2023
2023-05-03
08-07-2023
04-25-2022
2023-02-04
2023-09-05
2022-07-07
2022-03-07
2021-10-28
2023-04-17
2022-06-22
2022-11-29
2022-12-29
2022-02-18
2021-10-26
2022-07-29
2023-06-13
2022-12-09
2021-10-02
05-27-2023
2022-01-10
2023-05-28
2022-08-17
2022-09-15
2022-02-14
2023-09-21
2023-02-20
2023-08-08
2022-07-31
2022-03-21
2023-07-18
2023-05-16
08-18-2023
2022-02-27
12-07-2021
08-16-2022
2022-01-06
2023-07-14
2022-09-30
2022-11-24
04-02-2023
2022-10-14
01-13-2023
2022-04-25
2021-12-17
2022-10-29
2023-01-14
2022-10-05
2021-10-06
2021-11-14
2022-12-05
2023-08-17
2022-06-19
2022-02-12
2023-04-26
2022-07-15
2022-05-24
2023-08-30
2021-11-08
2023-01-15
2023-03-19
02-08-2022
2021-12-21
2023-01-22
2022-08-08
08-11-2023
2022-03-17
2022-09-13
2022-07-24
2021-12-01
2022-06-17
2023-09-17
01-25-2022
2023-09-01
2023-07-21
12-16-2022
2022-12-15
2022-09-19
2023-07-05
2023-07-10
2022-02-22
2023-07-25
2021-12-13
2023-06-22
2021-10-27
2023-05-08
2022-03-04
2022-01-30
2021-09-30
2022-08-26
2023-03-14
2022-06-18
2023-03-09
2023-04-12
2022-01-11
2022-06-10
2022-11-17
10-31-2022
2023-07-17
2021-11-23
2023-07-06
2022-04-30
2022-09-09
2023-04-02
08-04-2022
2023-09-18
2023-07-07
2022-12-24
2022-05-07
2022-08-11
2022-09-03
2023-07-12
2022-10-16
2022-02-06
10-29-2021
2023-06-25
06-04-2023
03-02-2022
2023-04-09
2022-06-04
2023-03-18
2023-02-28
2023-01-07
2022-04-14
2022-10-21
2021-12-30
2023-07-13
2023-02-03
2021-11-24
2022-12-20
2022-06-26
2022-05-05
2023-03-30
02-28-2023
11-28-2022
2022-08-31
2022-02-26
2022-03-27
2022-01-02
2023-08-27
2023-09-04
2023-05-22
2023-04-06
2023-04-18
2022-09-10
2022-08-05
2021-12-31
2023-01-17
2022-08-21
2022-08-03
2023-05-31
2022-12-17
2021-12-23
2022-12-14
01-01-2023
2023-06-07
2021-10-16
2023-06-27
2023-05-25
11-19-2021
2022-02-25
2021-11-16
2022-06-13
2023-01-24
2023-03-03
2022-07-26
2021-12-14
2022-02-10
09-05-2022
2023-01-27
07-16-2023
05-15-2023
07-28-2022
04-18-2023
03-01-2023
04-29-2023
2021-11-27
09-13-2023
2023-08-15
03-23-2023
2022-09-21
2022-11-25
2022-03-03
2022-04-12
2023-09-26
2022-10-09
2023-01-12
2022-03-05
2022-03-15
2023-01-01
2023-04-29
2021-11-15
2023-04-30
03-15-2022
2022-06-06
08-31-2023
2022-01-20
2022-04-05
2022-01-19
2022-03-19
2022-01-09
2021-09-28
2023-02-25
05-21-2023
2023-08-02
2023-03-23
07-14-2023
2023-05-11
2022-04-24
2021-12-19
2023-03-31
2021-11-10
02-07-2023
2021-12-28
2023-06-15
2023-03-17
03-18-2023
2023-02-02
2022-07-27
2022-06-11
2023-01-09
2022-08-12
2023-05-24
07-30-2023
12-17-2022
2023-08-29
2023-01-26
05-14-2023
04-30-2022
10-12-2021
2021-12-06
2022-02-15
2023-05-19
2023-01-11
2023-08-12
02-04-2022
08-06-2023
2022-08-07
2022-05-30
2022-08-01
2023-02-12
06-14-2022
2022-05-27
09-23-2022
2022-09-12
2022-10-30
2022-04-17
2021-12-04
04-27-2023
12-21-2021
2022-07-13
2021-11-06
2022-03-09
11-09-2021
2022-01-29
2023-05-13
2022-09-23
2023-04-08
04-05-2022
2022-10-12
2022-05-01
2022-11-13
2023-08-25
2022-06-21
2022-01-01
2023-09-27
2022-09-20
2022-09-24
2022-07-06
2023-06-29
2022-05-25
2023-06-03
2021-12-18
2022-05-31
05-04-2023
11-08-2022
09-30-2022
2022-08-09
2022-05-09
2023-04-23
10-05-2022
2022-04-01
2023-04-14
2023-01-16
2023-05-09
2023-09-24
2022-11-03
2021-12-16
2023-05-04
2023-03-02
2023-07-28
2022-06-08
06-11-2023
12-17-2021
2022-09-06
2023-04-16
10-27-2022
2023-01-03
2021-10-24
2021-11-04
12-30-2022
2021-12-07
08-10-2022
2022-09-26
08-12-2022
2022-07-11
03-05-2023
2022-01-04
11-09-2022
2022-10-28
2023-09-28
2021-11-30
2023-02-06
2021-11-21
2022-05-02
2023-02-18
02-12-2023
03-07-2023
04-25-2023
2021-10-03
2022-04-13
2023-02-08
2023-05-18
2022-12-18
2022-04-28
2023-07-20
2023-06-30
2022-07-04
2021-12-12
2022-08-06
10-28-2021
2023-09-11
2022-05-15
2023-01-04
2022-04-06
09-27-2023
2023-08-26
2022-01-17
2023-04-20
2021-11-25
2023-01-08
2023-08-03
2022-11-20
09-09-2023
07-26-2022
2022-01-03
2023-08-16
2022-05-21
06-18-2023
2021-10-13
2022-04-23
2023-02-26
2022-04-21
2023-02-27
10-09-2021
2022-05-29
2021-10-20
2023-08-07
2022-08-23
2022-08-20
2022-02-11
04-28-2022
03-16-2023
12-11-2021
2022-07-12
08-22-2023
2022-03-26
12-21-2022
2022-10-26
2023-08-28
10-14-2022
2022-06-02
2023-04-19
2023-07-27
2022-10-11
07-20-2023
10-01-2021
2021-12-27
2022-05-17
2022-06-16
2022-02-02
2022-02-04
2023-05-20
2022-05-19
2023-06-14
2022-04-15
2022-11-26
2023-02-01
2022-03-06
05-01-2022
02-22-2023
2022-11-23
2022-06-27
2022-06-29
08-13-2023
2023-08-22
09-03-2023
2023-05-02
2021-10-04
05-31-2023
04-18-2022
2022-06-01
10-14-2021
2022-02-23
10-02-2022
06-03-2022
2022-10-02
11-26-2021
2022-01-24
07-05-2022
07-02-2023
2023-05-26
2023-09-06
2021-12-02
12-05-2022
08-26-2023
2022-08-16
2022-09-08
2022-11-19
05-02-2022
07-27-2023
03-27-2022
2022-09-02
01-03-2023
2022-09-14
2023-04-28
2022-12-03
2022-03-30
03-12-2023
2021-12-20
04-12-2022
2023-03-25
2023-03-13
09-17-2023
2022-10-15
2022-06-12
2022-05-10
07-12-2022
2023-03-08
2022-09-01
11-18-2022
04-22-2023
09-22-2022
2022-01-16
11-01-2021
2022-03-23
06-19-2023
2023-05-23
2022-09-11
2023-03-12
12-26-2021
04-05-2023
2023-08-14
2022-10-25
2023-01-21
06-28-2022
2022-04-29
2022-02-13
2022-07-10
11-12-2022
12-13-2022
2022-12-23
2023-08-18
07-23-2022
2023-05-15
2022-03-10
2023-03-07
11-23-2022
2022-11-11
2021-10-21
2022-09-28
11-23-2021
04-10-2023
2023-05-07
2022-06-24
2022-08-15
01-15-2022
01-22-2022
2022-04-02
03-15-2023
11-02-2022
08-16-2023
08-19-2022
2023-07-24
2022-05-26
08-12-2023
2023-09-07
04-21-2023
2023-03-24
10-13-2022
2021-10-19
08-28-2022
2022-05-22
2023-08-13
2022-11-07
2022-10-20
03-11-2023
03-13-2022
12-05-2021
2023-04-11
2023-07-22
2022-08-02
2021-12-03
03-19-2023
05-24-2022
2022-04-26
2022-12-11
12-27-2022
09-10-2023
2023-03-20
04-20-2023
2021-12-09
12-10-2022
01-15-2023
10-03-2022
2023-01-10
03-07-2022
2022-05-28
12-29-2021
06-26-2022
2021-12-26
2023-05-30
01-09-2022
2021-10-23
07-17-2022
2022-03-31
02-02-2023
05-03-2022
2021-11-03
10-23-2022
2023-09-15
2022-02-24
10-25-2022
2023-03-27
07-07-2022
2023-06-24
04-08-2023
2022-09-17
05-07-2023
12-24-2022
12-19-2022
2022-04-16
2022-01-31
05-28-2023
2022-03-22
2023-06-02
2023-03-11
2023-06-16
01-28-2022
01-19-2023
2022-10-01
09-21-2022
2022-11-16
06-16-2023
2022-02-08
06-30-2022
2023-06-21
03-31-2022
2023-04-10
03-08-2022
11-29-2021
03-16-2022
08-30-2023
2022-03-01
01-13-2022
03-25-2022
08-09-2023
2023-07-30
07-18-2022
2023-01-06
12-08-2022
2023-09-03
01-18-2022
06-05-2023
2021-11-22
08-22-2022
2022-06-25
01-06-2022
09-15-2023
04-16-2023
2021-10-11
11-04-2021
2023-08-24
2022-12-25
02-11-2022
03-06-2022
02-19-2023
2023-02-13
2022-08-25
07-14-2022
2022-01-08
2021-11-02
06-06-2022
11-26-2022
04-17-2022
11-22-2021
12-14-2021
06-13-2023
03-31-2023
09-02-2022
2022-06-05
06-28-2023
2022-08-19
02-01-2023
04-03-2022
09-11-2023
2021-11-05
2021-12-29
06-22-2022
01-18-2023
04-14-2022
01-16-2023
05-29-2022
2022-05-12
2021-10-17
10-16-2022
08-21-2022
04-29-2022
07-31-2023
02-24-2023
08-17-2022
2023-06-06
2022-10-18
06-15-2023
04-19-2023
08-25-2023
2021-10-05
2022-07-18
05-17-2023
09-25-2022
09-21-2023
02-13-2023
2022-02-21
02-16-2022
10-07-2021
03-17-2022
09-16-2023
2023-05-10
2022-05-08
09-02-2023
10-21-2021
05-22-2022
2022-11-21
2022-09-22
08-08-2022
08-24-2023
2023-07-31
2022-02-05
01-01-2022
10-05-2021
08-28-2023
01-17-2022
2021-10-12
07-08-2023
2021-10-08
02-21-2022
11-16-2021
06-23-2023
05-12-2022
02-10-2022
04-26-2023
2023-07-23
05-20-2023
01-29-2022
2023-01-02
06-29-2023
2022-03-12
10-13-2021
09-09-2022
01-06-2023
07-04-2023
2022-12-27
2022-12-26
08-23-2022
03-12-2022
09-07-2023
12-22-2021
2022-04-20
12-02-2022
2022-02-20
05-24-2023
08-14-2023
08-24-2022
07-18-2023
2022-10-13
11-19-2022
09-30-2021
10-20-2022
2023-07-04
06-18-2022
03-26-2023
02-09-2023
2022-11-12
01-21-2023
11-25-2021
05-19-2022
02-03-2023
09-28-2021
2022-07-03
02-27-2023
11-20-2021
12-19-2021
03-19-2022
12-26-2022
05-09-2023
03-22-2022
05-17-2022
08-20-2022
02-06-2022
03-22-2023
07-19-2022
2022-11-30
06-07-2022
12-07-2022
07-27-2022
02-22-2022
10-26-2022
08-06-2022
03-10-2022
07-04-2022
12-30-2021
07-01-2023
2023-08-11
12-24-2021
09-08-2023
07-01-2022
12-06-2022
03-27-2023
06-10-2023
11-18-2021
01-02-2022
06-08-2022
02-11-2023
2021-10-01
01-03-2022
04-15-2022
10-19-2021
04-19-2022
09-22-2023
02-28-2022
02-07-2022
06-02-2023
09-20-2023
08-02-2022
10-15-2022
03-04-2022
02-18-2022
02-05-2023
03-11-2022
05-06-2022
11-05-2022
11-21-2021
02-25-2023
11-01-2022
04-13-2022
04-23-2023
2022-12-28
11-27-2022
06-26-2023
05-26-2022
04-09-2022
10-21-2022
07-22-2022
08-17-2023
03-14-2023
10-04-2021
09-17-2022
07-03-2023
06-21-2023
05-11-2023
1092

In [87]:
def convertir_date(date_str):
    # Liste des formats possibles
    formats = ["%m-%d-%Y", "%Y-%m-%d"]
    
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt)
        except ValueError:
            continue
    return None  # Retourne None si aucun format ne correspond

# Appliquer la fonction à la colonne
dim_customer['date_normalisee'] = dim_customer['Date'].apply(lambda x: convertir_date(x))
dim_customer

      CustomerID     CustomerName                   CustomerEmail                                   CustomerAddress           CustomerPhone CustomerSegment        Date date_normalisee
0              1    Colleen Kelly           maryhurst@example.org     354 Mcdowell Turnpike, Port Charles, CT 95318       908.610.2711x8507          Silver  2023-09-14      2023-09-14
1              2      Joel Wright     sandersvictoria@example.org          24740 Fox Villages, New Tracie, MA 53038     +1-408-938-0389x952            Gold  2023-02-11      2023-02-11
2              3    Thomas Sawyer             ospence@example.net               769 Joe Trail, East Terri, CA 43813  001-929-516-1919x39288            Gold  2021-11-12      2021-11-12
3              4    Tyler Gardner  christopherjohnson@example.com     27783 Olivia Centers, Williamsmouth, AL 09809              8907712983            Gold  11-15-2021      2021-11-15
4              5  Meagan Peterson             epowell@example.net       25357 Blackwell Locks, Andreabury, MH 27857              9999921886            Gold  2023-04-22      2023-04-22
...          ...              ...                             ...                                               ...                     ...             ...         ...             ...
4995        4843  Miranda Nielsen     kenneththompson@example.org   329 Reynolds Pike, Port Kathleenmouth, IA 55480        882-498-2608x929          Silver  2023-05-16      2023-05-16
4996        4844  Jeffrey Stevens         kimjonathan@example.net          43071 Montes Lodge, North Gary, AL 95946            417-878-2632          Bronze  2023-09-09      2023-09-09
4997        4845    Tammy Jackson         dominique80@example.org                           USNS Page, FPO AE 81282            540-209-1864          Silver  2022-12-03      2022-12-03
4998        1504   Heather Garcia    robinsonkristine@example.net  1645 Jackson Overpass, South Bruceland, TN 21664       482.719.0058x7159          Silver  2022-10-06      2022-10-06
4999        4846    Bradley Smith         garciashawn@example.com                  Unit 6079 Box 2184, DPO AP 21061     (449)651-5198x65597            Gold  2023-08-24      2023-08-24

[5000 rows x 8 columns]

In [88]:
dim_customer_sorted = dim_customer.sort_values(by=['CustomerID', 'date_normalisee'], ascending=[True, False])
dim_customer_latest = dim_customer_sorted.groupby('CustomerID').head(1)

dim_customer = dim_customer_latest

In [89]:
def convertir_date(date_str):
    # Liste des formats possibles
    formats = ["%d-%m-%Y", "%Y-%m-%d"]
    
    for fmt in formats:
        try:
            return datetime.strptime(date_str, fmt)
        except ValueError:
            continue
    return None  # Retourne None si aucun format ne correspond

# Appliquer la fonction à la colonne
dim_date['date_normalisee'] = dim_date['Date'].apply(lambda x: convertir_date(x))

In [90]:
dim_date =dim_date.drop('Date', axis=1)
dim_date.rename({"date_normalisee": "Date"}, axis=1)

# Extraire année, mois et jour pour chaque date normalisée
dim_date['Annee'] = dim_date['date_normalisee'].apply(lambda x: x.year if x is not None else None)
dim_date['Mois'] = dim_date['date_normalisee'].apply(lambda x: x.month if x is not None else None)
dim_date['Jour'] = dim_date['date_normalisee'].apply(lambda x: x.day if x is not None else None)

dim_date.head()

   DateID date_normalisee   Annee  Mois  Jour
0       1      2023-09-14  2023.0   9.0  14.0
1       2      2023-02-11  2023.0   2.0  11.0
2       3      2021-11-12  2021.0  11.0  12.0
3       4             NaT     NaN   NaN   NaN
4       5      2023-04-22  2023.0   4.0  22.0

In [ ]:
dim_supplier_columns = {
    "SupplierID": Integer(),
    "SupplierName": String(255),
    "SupplierLocation": String(255),
    "SupplierContact": String(255)
}

dim_shipper_columns = {
    "ShippingID": Integer(),
    "ShippingName": String(255),
    "ShippingMethod": String(255)
}

dim_product_columns = {
    "ProductID": Integer(),
    "ProductName": String(255),
    "ProductCategory": String(255),
    "ProductSubCategory": String(255),
    "ProductPrice": String(255)
}


dim_customer_columns = {
    "CustomerID": Integer(),
    "CustomerName": String(255),
    "CustomerEmail": String(255),
    "CustomerAddress": String(255),
    "CustomerPhone": String(255),
    "CustomerSegment": String(255)
}


dim_date_columns = {
    "DateID": Integer(),
    "Annee": Integer(),
    "Mois": Integer(),
    "Jour": Integer()
}


fact_sales_columns = {
    "VenteID": Integer(),
    "SupplierID": Integer(),
    "ShippingID": Integer(),
    "ProductID": Integer(),
    "CustomerID": Integer(),
    "DateID": Integer(),
    "QuantitySold": Integer(),
    "TotalAmount": Float(),
    "DiscountAmount": Float(),
    "NetAmount": Float()
}

fact_stock_columns = {
    "StockID": Integer(),
    "ProductID": Integer(),
    "DateID": Integer(),
    "StockReceived": Integer(),
    "StockSold": Integer(),
    "StockOnHand": Integer()
}


engine = create_engine('postgresql+psycopg2://postgres:root@127.0.0.1:5432/dtm_sales')


dim_supplier.to_sql('Supplier', engine, if_exists='replace', index=False, dtype=dim_supplier_columns)
dim_shipper.to_sql('Shipping', engine, if_exists='replace', index=False, dtype=dim_shipper_columns)
dim_product.to_sql('Product', engine, if_exists='replace', index=False, dtype=dim_product_columns)
dim_customer.to_sql('Customer', engine, if_exists='replace', index=False, dtype=dim_customer_columns)
dim_date.to_sql('Date', engine, if_exists='replace', index=False, dtype=dim_date_columns)
fact_sales.to_sql('FactVentes', engine, if_exists='replace', index=False, dtype=fact_sales_columns)
fact_stock.to_sql('FactStock', engine, if_exists='replace', index=False, dtype=fact_stock_columns)

In [ ]:
# Connexion à la base de données
metadata = MetaData(bind=engine)

# Création des tables avec index

# 1. Index sur les tables de dimensions
with engine.connect() as conn:
    conn.execute("ALTER TABLE Supplier ADD PRIMARY KEY (SupplierID)")
    conn.execute("ALTER TABLE Shipping ADD PRIMARY KEY (ShipperID)")
    conn.execute("ALTER TABLE Product ADD PRIMARY KEY (ProductID)")
    conn.execute("ALTER TABLE Customer ADD PRIMARY KEY (CustomerID)")
    conn.execute("ALTER TABLE Date ADD PRIMARY KEY (DateID)")

# 2. Index sur les tables de faits
with engine.connect() as conn:
    # Index pour `FactVentes`
    conn.execute("ALTER TABLE FactVentes ADD PRIMARY KEY (id)")
    conn.execute("CREATE INDEX idx_fact_ventes_supplier_id ON FactVentes (SupplierID)")
    conn.execute("CREATE INDEX idx_fact_ventes_shipping_id ON FactVentes (ShipperID)")
    conn.execute("CREATE INDEX idx_fact_ventes_product_id ON FactVentes (ProductID)")
    conn.execute("CREATE INDEX idx_fact_ventes_customer_id ON FactVentes (CustomerID)")
    conn.execute("CREATE INDEX idx_fact_ventes_date_id ON FactVentes (DateID)")

    # Index pour `FactStock`
    conn.execute("ALTER TABLE FactStock ADD PRIMARY KEY (id)")
    conn.execute("CREATE INDEX idx_fact_stock_product_id ON FactStock (ProductID)")
    conn.execute("CREATE INDEX idx_fact_stock_date_id ON FactStock (DateID)")

In [ ]:
fact_sales_columns = {
    "VenteID": Integer(),
    "SupplierID": Integer(),
    "ShippingID": Integer(),
    "ProductID": Integer(),
    "CustomerID": Integer(),
    "DateID": Integer(),
    "QuantitySold": Integer(),
    "TotalAmount": Float(),
    "DiscountAmount": Float(),
    "NetAmount": Float()
}

dim_product = df[['ProductID', 'ProductName', 'ProductCategory', 'ProductSubCategory', 'ProductPrice']].drop_duplicates()
dim_product_columns = {
    "ProductID": Integer(),
    "ProductName": String(255),
    "ProductCategory": String(255),
    "ProductSubCategory": String(255),
    "ProductPrice": String(255)
}

dim_customer = df[['CustomerID', 'CustomerName', 'CustomerEmail', 'CustomerAddress', 'CustomerPhone', 'CustomerSegment']].drop_duplicates()
dim_customer_columns = {
    "CustomerID": Integer(),
    "CustomerName": String(255),
    "CustomerEmail": String(255),
    "CustomerAddress": String(255),
    "CustomerPhone": String(255),
    "CustomerSegment": String(255)
}

engine = create_engine('postgresql+psycopg2://postgres:root@127.0.0.1:5432/dtm_sales')


dim_product.to_sql('Product', engine, if_exists='replace', index=False, dtype=dim_product_columns)
dim_customer.to_sql('Customer', engine, if_exists='replace', index=False, dtype=dim_customer_columns)
dim_date.to_sql('Date', engine, if_exists='replace', index=False, dtype=dim_date_columns)
fact_sales.to_sql('FactVentes', engine, if_exists='replace', index=False, dtype=fact_sales_columns)

5010

In [ ]:
dim_supplier = df[['SupplierID', 'SupplierName', 'SupplierLocation', 'SupplierContact']].drop_duplicates()
dim_supplier_columns = {
    "SupplierID": Integer(),
    "SupplierName": String(255),
    "SupplierLocation": String(255),
    "SupplierContact": String(255)
}


dim_product = df[['ProductID', 'ProductName', 'ProductCategory', 'ProductSubCategory', 'ProductPrice']].drop_duplicates()
dim_product_columns = {
    "ProductID": Integer(),
    "ProductName": String(255),
    "ProductCategory": String(255),
    "ProductSubCategory": String(255),
    "ProductPrice": String(255)
}

dim_date_columns = {
    "DateID": Integer(),
    "Annee": Integer(),
    "Mois": Integer(),
    "Jour": Integer()
}

fact_stock_columns = {
    "StockID": Integer(),
    "ProductID": Integer(),
    "DateID": Integer(),
    "StockReceived": Integer(),
    "StockSold": Integer(),
    "StockOnHand": Integer()
}


engine = create_engine('postgresql+psycopg2://postgres:root@127.0.0.1:5432/dtm_sales')


dim_supplier.to_sql('Supplier', engine, if_exists='replace', index=False, dtype=dim_supplier_columns)
dim_product.to_sql('Product', engine, if_exists='replace', index=False, dtype=dim_product_columns)
dim_date.to_sql('Date', engine, if_exists='replace', index=False, dtype=dim_date_columns)
fact_stock.to_sql('FactStock', engine, if_exists='replace', index=False, dtype=fact_stock_columns)

5010